# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
.env

# Output file(s)
public/data/products.json

#raw files
public/raw

# System
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Logs
logs/
*.log

# Mac/Linux Trash
.Trashes
